
html {

  height: 100%;
  width: 100%;
  margin-left:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;

}

body {

  display:block;
  height: 100%;
  width: 100%;
  background-color: #f9f1cf;
  margin-left:0px;
  margin-top:0px;
  margin-bottom:0px;
  margin-right:0px;

}

nav {

  display:block;
  height: 70px;

  width: 100%;
  background-color: green;

}

.navtext {

  display:inline-block;

  color: white;
  background-color: darkgreen;
  width: 90px;
  height: 70px;
  margin-right: 10px;

  

}

#navhead {

  display:inline;

  height:100%;

  text-align: center;

}

#innerLinks {

  display: inline;
  height:100%;
  text-align: center;

}

h1 {

  text-align: center;
  font-family: Georgia, serif;

}

#content {

  margin-left:50px;
  margin-right:50px;
  margin-bottom: 200px;
  display: inline-block;

}

dt {

  font-weight: bold;
  margin-top:5px;

}

.attribution {

  font-size: x-small;
  margin-top: -5px;

}



#Stego {

  margin-top:50px;
  display: inline-block;
  width:100%;

}

#Allo {

  margin-top:50px;
  margin-bottom:20px;
  display: inline-block;
  width:100%;

}